@import './index';

.app {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, #5e3434, #294661, #587952);

  &__column-left,
  &__column-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    min-width: 420px;
  }

  &__column-right {
    gap: 20px;
    max-height: 90%;
    overflow: auto;
  }
}

@media screen and (wid) {
  
}
