html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  border: none;
}
